<script language="javascript" type="text/javascript">
setTimeout("location.reload();",<%=@timeout*1000%>);
</script>

<% provide(:title, 'My Questions') %>
<h1>Current question</h1>
<h3><%= "You have #{current_user.points} points" %></h3>

<br/>
<%= render_async question_stats_path, container_id: 'refresh-me', replace_container: false %>

<script>
  var container = document.getElementById('refresh-me');
  
  var intervalId = window.setInterval(function(){
    var event = new Event('refresh');
    // Dispatch 'refresh' on the render_async container
    //container.dispatchEvent(event)
  }, 3000);

  var intervalId2 = window.setInterval(function(){
    var element = document.getElementById("left");
    element.textContent = parseInt(element.textContent - 1);
  }, 1000);
</script>
