
<main>
  <section class="py-2 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Work Food Balanca</h1>
        <p class="lead text-muted">Keep everything in balance: food, work, sleep...</p>
        <div class=py-5>
          <% if logged_in? %>
	        
	      <% else %>
	        
	      <% end %>
          <%= image_tag("betgame.gif") %>
        </div>
        <div>
          <%= image_tag("elcalogo.png") %>
          <%= image_tag("BSC_Young_Boys_Logo.png") %>
          <%= image_tag("yb hackathon.png") %>
        </div>
        <div>
          <h3>Team</h3>
          <p>Monika Blaser</p>
          <p>Christoph Hofer</p>
          <p>Patrick Hollinger</p>
          <p>Rafael Wampfler</p>
        </div>
      </div>
    </div>
  </section>
</main>