
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Work Food Balanca</h1>
        <p class="lead text-muted">Keep everything in balance: food, work, sleep...</p>
        <%= image_tag("betgame.gif") %>
        <%= image_tag("elcalogo.png") %>
        <%= image_tag("BSC_Young_Boys_Logo.png") %>
        <%= image_tag("yb hackathon.png") %>
        <h3>Team</h3>
        <p>Monika Blaser</p>
        <p>Christoph Hofer</p>
        <p>Patrick Hollinger</p>
        <p>Rafael Wampfler</p>
      </div>
    </div>
  </section>
</main>