<% provide(:title, "Info") %>

<h1>Informations</h1>

<p><b>Welcome to Crowd Bet</b></p>
<p>You can vote on different questions/events during the game and collect points. For this purpose there are different types of questions</p>
<p><b>Type 1:</b><br />For every correct answer you get 10 points. If the answer is wrong, you will not lose any points</p>
<p><b>Type 2:</b><br />You can bet your earned points and if the answer is correct, you will get your invested points- but if your answer is wrong, you will lose the bet points.</p>
<p><b>Type 3:</b><br />ALL IN - You bet all your points - big risk but also big profit. With the correct answer you can double your score.</p>
<p>Be attentive and fast, event-driven questions are not available for long.</p>
