<%= image_tag("leaderboard.gif") %>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
        </tr>
        <% end %>
    </tbody>
</table>
